.registration__container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
}

.registration__form {
    display: flex;
    background-color: lightyellow;
    flex-direction: column;
    border: 5px solid lightslategray;
    border-radius: 5px;
    width: 500px;
    padding: 20px;
    height: 180px;
}

.registration__form .inputRegistration {
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 15px;
  }

  .registration__container button {
    margin-top: 10px;
    width: 100px;
    align-self: flex-end;
    height: 30px;
    background-color: lightslategray;
    border-radius: 0;
    color: white;
  }

  .registration__container button:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }

  span {
      color: red
  }